body {
    margin: 20px auto;
    font-family: 'Lato';
    background:#666;
    color:#fff;
}

*{
    margin:0;
    padding:0;
}
h1 {
    margin:10px;
    font-family: 'Courier New', monospace;
}
h2 {
    font-family: "Permanent Marker";
    font-weight: bold;
    font-size: 1.5rem;
}

p {
    font-family: "Permanent Marker";
    font-size: 1rem;
}
.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

ul,li{
    list-style:none;
}

ul li a{
    text-decoration:none;
    color: #353535;
    /*background: #ffffcc;*/
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    overflow: auto;
}
ul li{
    margin:.5em;
}
ul li:hover{
    transform: scale(1.5);
}
textarea{
    font-family: "Permanent Marker";
    font-size: 1rem;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    margin-top: 1rem;
    margin-left: 1rem;

}
#studentMessageList{
    font-family: "Permanent Marker";
    font-size: 1rem;
    text-decoration:none;
    color: #353535;
    /*background: #ffffcc;*/
    display:block;
    height:10em;
    width:10em;
    padding:1em;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    overflow: auto;
}
#classViewButton{
    font-family: 'Courier New', monospace;
    font-size: 1rem;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    margin-bottom: 1rem;
    border: 2px black;
    margin-left: 1rem;
}
#submitButton{
    font-family: 'Courier New', monospace;
    font-size: 1rem;
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    border: 2px black;
    margin-left: 1rem;
}
#colorBox{
    box-shadow: 5px 5px 7px rgba(33,33,33,.7);
    margin-left: 1rem;
}
#studentMessageList{
    margin-left: 1rem;
    margin-bottom: 1rem;
    margin-top: 1rem;
    float: left;
}
#studentMessageList:hover{
    transform: scale(1.5);
}

