<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="/style.css">
    <title>Students View</title>
</head>
<body>
<h1 th:text="${cohort.getName()}"></h1>
<h1>Students View </h1>
<hr><br>

<ul th:each="student:${students}">
<!--    <li th:text= "${student.getFirstName()}" ></li>-->
    <li>
        <a  th:href="${student.getId()}">
            <h2 th:text="${student.getFirstName()}"></h2>
            <p th:text="${student.hasMessage} ? ${student.getLastMessage().getMessage()} : 'Add a message'"></p>
        </a>
    </li>
</ul>
</body>
</html>